.header {
  text-align: center;
  position: relative;
}
h1.title {
  display: inline-block;
  margin-right: 50px;
}
div.header > div {
  display: inline-block;
  position: absolute;
  top: 25px;
}
form {
  display: inline-block;
}
button {
  display: inline-block;
}
.map {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.link {
  text-align: center;
  margin: 50px 0;
}
.centerStats {
  margin-bottom: 40px;
  margin-top: 25px;
  text-align: center;
  font-size: 20px;
}
.stats {
  padding: 3px;
}
.main {
  position: absolute;
  left: 150px;
  width: 200px;
}
.legend {
  box-shadow: 0 5px 10px rgba(0, 22, 39, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
  position: absolute;
  top: 400px;
  padding: 20px 20px;
}
